.git/
.gitignore
.gitattributes
.github/
.bundle
.kamal/
README.md
.env*

loookbook/config/master.key
loookbook/config/credentials/*.key

loookbook/log/*
loookbook/tmp/*

loookbook/tmp/pids/*
!/loookbook/tmp/pids/.keep

/loookbook/storage/*

node_modules/
app/assets/builds/*
!app/assets/builds/.keep
public/assets

.dockerdev/
.devcontainer
.dockerignore
Dockerfile*

ruby-debug-lock*
Makefile
.rubocop.yml
