<%= render LightningUiKit::BannerComponent.new(title: "Heads up!") do |banner| %>
  <p>You can add components to your app using the CLI.</p>
<% end %>

<br>

<%= render LightningUiKit::BannerComponent.new(type: :error, title: "Error occurred") do |banner| %>
  <p>2 errors prohibited this parse from being saved:</p>
  <ul class="lui:mt-2 lui:list-disc lui:list-inside">
    <li>Error 1</li>
    <li>Error 2</li>
  </ul>
  <% banner.with_footer do %>
    <div class="lui:flex lui:gap-2">
      <%= render LightningUiKit::ButtonComponent.new(size: :small).with_content("Contact support") %>
      <%= render LightningUiKit::ButtonComponent.new(style: :outline, size: :small, data: { action: "lui-banner#close"}).with_content("Close") %>
    </div>
  <% end %>
<% end %>
