<div role="status" class="lui:animate-pulse">
  <% if @with_title %>
    <h3 class="lui:h-3 lui:bg-surface-tertiary lui:rounded-full lui:w-48 lui:mb-4"></h3>
  <% end %>
  <div class="lui:space-y-2.5">
    <% @lines.times do %>
      <p class="lui:h-2 lui:bg-surface-tertiary lui:rounded-full"></p>
    <% end %>
  </div>
</div>
